body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
    background-color: rgb(28, 27, 27);
}

.icons{
    list-style: none;
    border: 3px solid rgb(28, 181, 51);
    width: 700px;
    height: 100px;
    box-shadow: 0px 0px 10px 5px greenyellow;
   
   
}

.icons li{
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    margin: 10px;

    
}

.icons li::before{
    content: '';
    position: absolute;
    z-index: -1;
    top:0 ;
    left: 0;
    height: 100%;
    width: 100%;
    border: 3px solid rgb(36, 152, 65);
    transition: all 0.5s ease-in;
}


.icons li:hover::before{
    border-radius: 100%;
    transform: rotate(360deg);
    box-shadow: 0px 0px 10px 5px greenyellow;

}

.icons li a i {
    font-size: 30px;
    margin-top: 20px;
    color: rgb(43, 169, 83);
    transition: 1s;
}

.icons li:hover a i {
    transform: scale(1.4);
    color: rgb(10, 206, 240);

}
